.card {
    box-shadow: 2px 3px 4px 1px rgba(41, 8, 8, 0.5);
    max-width: 270px;
    height: 230px;
    margin:auto;
    margin-top:10px;
    text-align: center;
    font-family: Georgia;
   
    border-radius: 5%;
  }
  /* .card:hover { 
    background-color: rgb(12, 8, 6);
  } */
  .title {
    color: rgba(248, 246, 246, 0.925);
    
   
  }
  img {
      margin-top: 10px;
    border-radius: 50%;
    width:200;
    margin-top:10;
  }
